<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sujan.info.thespicelounge">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.ActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WaiterActivity"
            android:label="@string/title_activity_waiter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChefMenuModifyActivity"
            android:label="@string/title_activity_chef"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChefActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChefItemAddAndModifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FoodOrderActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".CustomerFeedbackActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CashierActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>